.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-secondary);
  padding: 16px;
  box-shadow: 0 -2px 4px var(--shadow-color);
  width: 100%;
  border-top: 1px solid var(--border-color);
}

.icon {
  font-size: 2rem;
  color: var(--text-primary);
  margin-right: 8px;
}

.text {
  font-size: 1rem;
  color: var(--text-primary);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
