.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.icon {
  font-size: 2.5rem;
  color: #fff700;
  margin-right: 10px;
}

.title {
  font-size: 2rem;
  color: white;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}