.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--header-bg,  #4facfe);
  color: var(--header-color, #333);
}

.icon {
  font-size: 2rem;
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.unitButtons {
  display: flex;
  gap: 0.5rem;
}

.unitButtons button {
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 5px;
}

.activeButton {
  background-color: #2196f3;
  color: white;
}

body.dark-theme .header {
  background-color: #1e1e1e;
  color: white;
}

body.dark-theme .unitButtons button {
  background-color: #333;
  color: white;
}

body.dark-theme .activeButton {
  background-color: #2196f3;
  color: white;
}
